<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jsf="http://jsf.jd.com/schema/jsf"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://jsf.jd.com/schema/jsf http://jsf.jd.com/schema/jsf/jsf.xsd">

    <!-- 注册中心 -->
    <jsf:registry id="jsfRegistry" protocol="jsfRegistry" index="i.jsf.jd.com" />

    <!-- 服务端 端口默认22000 -->
    <jsf:server id="jsfServer" protocol="jsf" threads="240" threadpool="cached" queuetype="normal" queues="180"/>

    <jsf:provider id="recommendLookTagReceiveJinDouLogDaoService" interface="com.jd.discovery.channel.dal.client.service.RecommendLookTagReceiveJinDouLogDaoService"
                  alias="${jsf-provider.alias}" ref="recommendLookTagReceiveJinDouLogDaoServiceImpl" timeout="${jsf-provider.timeout}"/>

</beans>